# Environment
.env
.env.*

# Dependencies
/vendor
/node_modules

# Logs & cache
/storage/*.key
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views

# OS / Editor
.DS_Store
Thumbs.db
.vscode
.idea
